// Básicos
$white:#ffffff;
$black:#000000;
$black-opacity: rgba(0,0,0,0.5);
$blue: #76dcf4;
/*---------------------------------*/

// Fondos
$bg-black: #202124;
$bg-gray: #353535;
/*---------------------------------*/

// Textos
$text: $white;
/*---------------------------------*/